<style> 
    .footer {
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .inp {
        background: none;
        border: 1px solid gray;
        border-radius: 1rem;
        color: white;
        padding-left: 15px;
    }
    .send-btn {
        display: block;
        background: none;
        border: 1px solid gray;
        border-radius: 1rem;
        color: white;
        transition-duration: .4s;
        font-size: 20px;
    }
    .send-btn:hover {
        background: white;
        color: black
    }
</style>
<footer class="footer mt-5">
    <div class="container container-fluid">
        <div class="row align-items-center ">
            <div class="col-12 col-md-6">
                <a href="#" class="navbar-brand text-white fs-1">
                    A<span class="text-danger fs-1">A</span> 
                </a>
            </div>
            <div class="col-12 col-md-6">
                <ul class="list-unstyled d-flex gap-4">

                    <li><a class="nav-link text-white" href="/">Home</a></li>
                    <li>
                        <a href="/about" class="nav-link text-white">About</a>
                    </li>
                    <li>
                        <a href="/contact" class="nav-link text-white">Contacts</a>
                    </li>
                    <li>
                        <a href="/sorted?type=macbook" class="nav-link text-white">Macbooks</a>
                    </li>
                    <li>
                        <a href="/sorted?type=iphone" class="nav-link text-white">Iphones</a>
                    </li>
                    <li>
                        <a href="/sorted?type=mac" class="nav-link text-white">Mac</a>
                    </li>
                    <li>
                        <a href="/ios16" class="nav-link text-white">About iOS16</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

