<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About iOS16</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        html,
        body {
            height: 100%;
            background-color: black;
        }

        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .main {
            flex: 1 1 auto
        }

        .version {

            border: 1px solid gray;
            border-radius: 1rem;
            text-align: center;

        }
    </style>
</head>

<body>
    <div class="wrapper">
        <%- include('navbar') %>
            <main class="main">
                <section class="mt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white text-center">Versions iOS16</h1>
                        <div class="row gap-5 justify-content-center mt-5">
                            <div class="version col-auto p-4">
                                <a href="#iOS16" class="nav-link text-white">
                                    iOS 16
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-0-1" class="nav-link text-white">
                                    iOS 16.0.1
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-0-2" class="nav-link text-white">
                                    iOS 16.0.2
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-0-3" class="nav-link text-white">
                                    iOS 16.0.3
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-1" class="nav-link text-white">
                                    iOS 16.1
                                </a>
                            </div>
                        </div>
                        <div class="row gap-5 justify-content-center mt-5">
                            <div class="version col-auto p-4">
                                <a href="#iOS16-1-1" class="nav-link text-white">
                                    iOS 16.1.1
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-1-2" class="nav-link text-white">
                                    iOS 16.1.2
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-2" class="nav-link text-white">
                                    iOS 16.2
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-3" class="nav-link text-white">
                                    iOS 16.3
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-3-1" class="nav-link text-white">
                                    iOS 16.3.1
                                </a>
                            </div>
                        </div>
                        <div class="row gap-5 justify-content-center mt-5">
                            <div class="version col-auto p-4">
                                <a href="#iOS16-4" class="nav-link text-white">
                                    iOS 16.4
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-4-1" class="nav-link text-white">
                                    iOS 16.4.1
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-5" class="nav-link text-white">
                                    iOS 16.5
                                </a>
                            </div>
                            <div class="version col-auto p-4">
                                <a href="#iOS16-5-1" class="nav-link text-white">
                                    iOS 16.5.1
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="iOS16-5-1" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.5.1</h1>
                        <p class="text-white-50 fw-bold mt-3">This update provides important security fixes and is recommended for all
                            users. It also fixes an issue that prevents charging with the Lightning to USB 3 Camera
                            Adapter.

                            <br><br> For information on the security content of Apple software updates, please visit this
                            website:

                            <a href="https://support.apple.com/kb/HT201222">https://support.apple.com/kb/HT201222</a> </p>
                    </div>
                </section>
                <section id="iOS16-5" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.5</h1>
                        <p class="text-white-50 fw-bold mt-3">
                            This update includes enhancements, bug fixes, and security updates for your iPhone.

                            This update includes the following enhancements and bug fixes:
                            <ul class="text-white-50 fw-bold">
                                <li>A new Pride Celebration wallpaper for the Lock Screen to honor the LGBTQ+ community and culture</li>
                                <li>Sports tab in Apple News gives easy access to stories, scores, standings, and more, for the teams and leagues you follow</li>
                                <li>My Sports score and schedule cards in Apple News take you directly to game pages where you can find additional details about specific games</li>
                                <li>Fixes an issue where Spotlight may become unresponsive</li>
                                <li>Addresses an issue where Podcasts in CarPlay may not load content</li>
                                <li>Fixes an issue where Screen Time settings may reset or not sync across all devices</li>
                            </ul>
                            <p class="text-white-50 fw-bold">
                                Some features may not be available for all regions or on all Apple devices. For information on the security content of Apple software updates, please visit this website:
                            </p>
                            <a href="https://support.apple.com/kb/HT201222" class="fw-bold">https://support.apple.com/kb/HT201222</a> </p>
                        </div>
                </section>
                <section id="iOS16-4-1" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.4.1</h1>
                        <p class="text-white-50 fw-bold mt-3">This update provides important bug fixes and security updates for your iPhone including: </p>
                        <ul class="text-white-50 fw-bold">
                            <li>Pushing hands emoji does not show skin tone variations</li>
                            <li>Siri does not respond in some cases</li>
                        </ul>
                        <p class="text-white-50 fw-bold">Some features may not be available for all regions or on all Apple devices. For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-4" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.4</h1>
                        <p class="text-white-50 fw-bold mt-3">This update introduces 21 new emoji and includes other enhancements, bug fixes, and security updates for your iPhone. <br> <br> This update includes the following enhancements and bug fixes:</p>
                        <ul class="text-white-50 fw-bold">
                            <li>21 new emoji including animals, hand gestures, and objects are now available in emoji keyboard</li>
                            <li>Notifications for web apps added to the Home Screen</li>
                            <li>Voice Isolation for cellular calls prioritizes your voice and blocks out ambient noise around you</li>
                            <li>Duplicates album in Photos expands support to detect duplicate photos and videos in an iCloud Shared Photo Library</li>
                            <li>VoiceOver support for maps in the Weather app</li>
                            <li>Accessibility setting to automatically dim video when flashes of light or strobe effects are detected</li>
                            <li>Fixes an issue where Ask to Buy requests from children may fail to appear on the parent's device</li>
                            <li>Addresses issues where Matter-compatible thermostats could become unresponsive when paired to Apple Home</li>
                            <li>Crash Detection optimizations on iPhone 14 and iPhone 14 Pro models</li>
                        </ul>
                        <p class="text-white-50 fw-bold">Some features may not be available for all regions or on all Apple devices. For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-3-1" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.3.1</h1>
                        <p class="text-white-50 fw-bold mt-3">This update provides important bug fixes and security updates for your iPhone. <br> <br> This update provides important bug fixes and security updates for your iPhone including:</p>
                        <ul class="text-white-50 fw-bold">
                            <li>iCloud settings may be unresponsive or incorrectly display if apps are using iCloud</li>
                            <li>Siri requests for Find My may not work</li>
                            <li>Crash Detection optimizations on iPhone 14 and iPhone 14 Pro models</li>
                        </ul>
                        <p class="text-white-50 fw-bold">For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-3" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.3</h1>
                        <p class="text-white-50 fw-bold mt-3">This update introduces a new Unity wallpaper to honor Black history and culture in celebration of Black History Month, Security Keys for Apple ID, and includes other enhancements, bug fixes, and security updates for your iPhone.<br> <br> This update includes the following enhancements and bug fixes:</p>
                        <ul class="text-white-50 fw-bold">
                            <li>New Unity wallpaper honors Black history and culture in celebration of Black History Month</li>
                            <li>Security Keys for Apple ID allow users to strengthen the security of their account by requiring a physical security key as part of the two factor authentication sign in process on new devices</li>
                            <li>Support for HomePod (2nd generation)</li>
                            <li>Emergency SOS calls now require holding the side button with the up or down volume button and then releasing in order to prevent inadvertent emergency calls</li>
                            <li>Fixes an issue in Freeform where some drawing strokes created with Apple Pencil or your finger may not appear on shared boards</li>
                            <li>Addresses an issue where the wallpaper may appear black on the Lock Screen</li>
                            <li>Fixes an issue where horizontal lines may temporarily appear while waking up iPhone 14 Pro Max</li>
                            <li>Fixes an issue where the Home Lock Screen widget does not accurately display Home app status</li>
                            <li>Addresses an issue where Siri may not respond properly to music requests</li>
                            <li>Resolves issues where Siri requests in CarPlay may not be understood correctly </li>
                        </ul>
                        <p class="text-white-50 fw-bold">Some features may not be available for all regions or on all Apple devices. For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-2" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.2</h1>
                        <p class="text-white-50 fw-bold mt-3">This update introduces Freeform, an app that offers a great place to brainstorm and bring your ideas to life. This release also adds Apple Music Sing, Advanced Data Protection for iCloud, Lock Screen improvements, and other features and bug fixes for your iPhone.</p>
                        <ul class="text-white-50 fw-bold">
                            Freeform
                            <li>Freeform is a new app for working creatively with friends or colleagues on Mac, iPad and iPhone</li>
                            <li>A flexible canvas lets you add files, images, stickies, and more</li>
                            <li>Drawing tools let you sketch anywhere on the canvas with your finger</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Apple Music Sing
                            <li>A new way to sing along with millions of your favorite songs in Apple Music</li>
                            <li>Fully adjustable vocals let you duet with the original artist, sing solo, or mix it up</li>
                            <li>Newly enhanced beat-by-beat lyrics make it even easier to follow along with the music</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Advanced Data Protection for iCloud
                            <li>New option expands the total number of iCloud data categories protected using end-to-end encryption to 23 — including iCloud Backup, Notes, and Photos — protecting your information even in the case of a data breach in the cloud</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Lock Screen 
                            <li>New settings allow you to hide wallpaper or notifications when Always-On display is enabled on iPhone 14 Pro and iPhone 14 Pro Max</li>
                            <li>Sleep widget lets you view your most recent sleep data</li>
                            <li>Medications widget lets you view reminders and quickly access your schedule</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Game Center
                            <li>SharePlay support in Game Center for multiplayer games so you can play with the people you are on a FaceTime call with</li>
                            <li>Activity Widget allows you to see what your friends are playing and achieving in games right from your Home Screen</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Apple TV
                            <li>Live Activities for Apple TV app let you follow your favorite teams with live scores right on your Lock Screen or in Dynamic Island on iPhone 14 Pro and iPhone 14 Pro Max</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Home
                            <li>Improved reliability and efficiency of communication between your smart home accessories and Apple devices</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            This update also includes the following improvements and bug fixes:
                            <li>Improved search in Messages allows you to find photos based on their content, like a dog, car, person, or text</li>
                            <li>Reload and Show IP Address setting enables iCloud Private Relay users to temporarily disable the service for a specific site in Safari</li>
                            <li>News articles in Weather display information relevant to the weather in that location</li>
                            <li>Participant Cursors in Notes allow you to see live indicators as others make updates in a shared note</li>
                            <li>AirDrop now automatically reverts to Contacts Only after 10 minutes to prevent unwanted requests to receive content</li>
                            <li>Crash Detection optimizations on iPhone 14 and iPhone 14 Pro models</li>
                            <li>Fixes an issue that causes some notes not to sync with iCloud after updates are made</li>
                        </ul>
                        <p class="text-white-50 fw-bold">Some features may not be available for all regions or on all Apple devices. For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-1-2" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.1.2</h1>
                        <p class="text-white-50 fw-bold mt-3">This update provides important security updates and the following enhancements for your iPhone:</p>
                        <ul class="text-white-50 fw-bold">
                            <li>Improved compatibility with wireless carriers</li>
                            <li>Crash Detection optimizations on iPhone 14 and iPhone 14 Pro models</li>
                           
                        </ul>
                        <p class="text-white-50 fw-bold">For information on the security content of Apple software updates, please visit this website: </p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-1-1" class="mt-5 pt-5">    
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.1</h1>
                        <p class="text-white-50 fw-bold mt-3">This update includes bug fixes and security updates and is recommended for all users. <br><br>

                            For information on the security content of Apple software updates, please visit this website:</p>
                      
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-1" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.1</h1>
                        <p class="text-white-50 fw-bold mt-3">This update introduces iCloud Shared Photo Library making it easy to keep your family photos up to date. This release also adds support for third party apps in Live Activities, support for Apple Fitness+ on iPhone even if you don’t have an Apple Watch, and includes other features and bug fixes for your iPhone.</p>
                        <ul class="text-white-50 fw-bold">
                            iCloud Shared Photo Library
                            <li>Separate library for seamlessly sharing photos and videos with up to five other people</li>
                            <li>Setup rules allow you to easily contribute past photos based on start date or people in the photos when you set up or join a library</li>
                            <li>Library filters for quickly switching between viewing the Shared Library, your Personal Library, or both libraries together</li>
                            <li>Shared edits and permissions let everyone add, edit, favorite, caption, and delete photos</li>
                            <li>Sharing toggle in Camera lets you choose to send photos you take straight to the Shared Library, or enable a setting to share automatically when other participants are detected nearby using Bluetooth</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Live Activities
                            <li>Live Activities from third party apps are available in the Dynamic Island and on the Lock Screen for iPhone 14 Pro models</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Fitness+
                            <li>Apple Fitness+ is supported on iPhone even if you don’t have an Apple Watch</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Wallet  
                            <li>Key sharing enables you to securely share car, hotel room, and other keys in Wallet using messaging apps such as Messages and WhatsApp</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Home
                            <li>Matter, the new smart home connectivity standard, is supported enabling a wide variety of smart home accessories to work together across ecosystems</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Clean Energy Charging
                            <li>New setting that can try to reduce your carbon footprint by selectively charging when lower carbon emission electricity is available</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Books
                            <li>Reader controls are automatically hidden as you start reading</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            This update also includes bug fixes for your iPhone:
                            <li>Deleted conversations may appear in the conversations list in Messages</li>
                            <li>Dynamic Island content is not available when using Reachability</li>
                            <li>CarPlay may fail to connect when using a VPN app</li>
                        </ul>
                        <p class="text-white-50 fw-bold">Some features may not be available for all regions or on all Apple devices. For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-0-3" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.0.3</h1>
                        <p class="text-white-50 fw-bold mt-3">This update provides bug fixes and important security updates for your iPhone including the following:</p>
                        <ul class="text-white-50 fw-bold">
                            <li>Incoming call and app notifications may be delayed or not delivered on iPhone 14 Pro and iPhone 14 Pro Max</li>
                            <li>Low microphone volume can occur during CarPlay phone calls on iPhone 14 models</li>
                            <li>Camera may be slow to launch or switch between modes on iPhone 14 Pro and iPhone 14 Pro Max</li>
                            <li>Mail crashes on launch after receiving a malformed email</li>
                           
                        </ul>
                        <p class="text-white-50 fw-bold">For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-0-2" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.0.2</h1>
                        <p class="text-white-50 fw-bold mt-3">This update provides bug fixes and important security updates for your iPhone including the following:</p>
                        <ul class="text-white-50 fw-bold">
                            <li>Camera may vibrate and cause blurry photos when shooting with some third-party apps on iPhone 14 Pro and iPhone 14 Pro Max</li>
                            <li>Display may appear completely black during device setup</li>
                            <li>Copy and paste between apps may cause a permission prompt to appear more than expected</li>
                            <li>VoiceOver may be unavailable after rebooting</li>
                            <li>Addresses an issue where touch input was unresponsive on some iPhone X, iPhone XR, and iPhone 11 displays after being serviced</li>
                           
                        </ul>
                        <p class="text-white-50 fw-bold">For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16-0-1" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16.0.1</h1>
                        <p class="text-white-50 fw-bold mt-3">This update is recommended for all iPhone 14 and iPhone 14 Pro users and provides important bug fixes including the following:</p>
                        <ul class="text-white-50 fw-bold">
                            <li>iMessage and FaceTime may not complete activation</li>
                            <li>Photos may appear soft when zooming in landscape orientation on iPhone 14 Pro Max</li>
                            <li>Enterprise single sign-on apps may fail to authenticate
                            </li>
                           
                        </ul>
                        <p class="text-white-50 fw-bold">For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
                <section id="iOS16" class="mt-5 pt-5">
                    <div class="container container-fluid">
                        <h1 class="text-white">iOS 16</h1>
                        <ul class="text-white-50 fw-bold">
                            Lock Screen
                            <li>Redesigned Lock Screen gives you all new ways to personalize your Lock Screen by showcasing favorite photos, customizing font styles, displaying widgets, and more</li>
                            <li>Multiple Lock Screens can be created and you can easily switch between them</li>
                            <li>Lock Screen gallery offers personalized suggestions along with Apple curated collections for your Lock Screen</li>
                            <li>Font and color options for customizing the look of the date and time on your Lock Screen</li>
                            <li>Widgets on the Lock Screen display information at a glance like the weather, battery levels, upcoming calendar events, and more</li>
                            <li>A new effect places the subject of the photo in front of the time (iPhone XS and later)</li>
                            <li>Photo styles change the color filter, tinting, and font style of photos on the Lock Screen to complement each other</li>
                            <li>Notifications appear at the bottom of your Lock Screen and can be displayed in an expanded list view, stacked view, or count view</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Focus
                            <li>Lock Screen linking connects your Lock Screen to a Focus, so you can activate a Focus by switching to the corresponding Lock Screen</li>
                            <li>Focus filters hide distracting content in apps like Calendar, Mail, Messages, Safari and third party apps</li>
                            <li>Streamlined setup makes it easier and faster to get started with Focus, with personalized Lock Screen and Home Screen suggestions that include apps and widgets that are relevant to the Focus you’re setting up</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Messages
                            <li>Edit a message for up to 15 minutes after sending it and recipients see a record of edits</li>
                            <li>Undo send allows you to recall any message for up to 2 minutes after sending it</li>
                            <li>Mark as unread makes it easy to come back to a conversation later</li>
                            <li>SharePlay in Messages lets you enjoy activities like watching movies, listening to music, playing games, and more with friends while messaging</li>
                            <li>Collaboration provides a simple way to invite others to collaborate on a file via Messages and get activity updates in the thread when someone makes an edit to a shared project</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Mail  
                            <li>Improved search delivers more accurate, complete results and provide suggestions as soon as you begin to type</li>
                            <li>Undo send allows you to cancel delivery of a message within 10 seconds of hitting send</li>
                            <li>Scheduled send for sending an email at a specific day and time</li>
                            <li>Follow‑up surfaces sent emails that have not been replied to, to the top of your inbox so you can quickly follow‑up</li>
                            <li>Remind me lets you schedule a date and time to be reminded about an email</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Safari and Passkeys
                            <li>Shared Tab Groups let you share a set of tabs with others and see the Tab Group update instantly as you work together</li>
                            <li>Tab Group start pages can be customized with different background images and favorites for each Tab Group</li>
                            <li>Pinned tabs in Tab Groups enable you to pin frequently visited websites for each Tab Group</li>
                            <li>Safari web page translation adds translation for web pages in Turkish, Thai, Vietnamese, Polish, Indonesian, and Dutch  </li>
                            <li>Passkeys offer support for an easier and safer sign‑in method to replace passwords</li>
                            <li>Passkey syncing through iCloud Keychain makes your passkeys available across all your Apple devices while keeping them end-to-end encrypted</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Live Text
                            <li>Live Text video support allows you to interact with text in a paused video frame so you can copy, translate, lookup, share, and more (iPhone XS, iPhone XS Max, iPhone XR and later)</li>
                            <li>Quick actions let you take action on data detected in photos and videos with a single tap, so you can track flights or shipments, translate foreign languages, convert currencies, and more (iPhone XS, iPhone XS Max, iPhone XR and later)</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Visual Look Up
                            <li>Lift subject from background isolates the subject of an image so you can copy and paste it into apps like Mail and Messages (iPhone XS, iPhone XS Max, iPhone XR and later)</li>
                            <li>Visual Look Up adds recognition of birds, insects, spiders, and statues in your photos (iPhone XS, iPhone XS Max, iPhone XR and later)</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Siri
                            <li>Easy Shortcuts setup makes it possible to run shortcuts with Siri as soon as you download an app with no upfront setup (iPhone XS, iPhone XS Max, iPhone XR and later)</li>
                            <li>A new setting allows you to send messages without Siri asking you to confirm before sending</li>
                            <li>“Hey Siri, what can I do here?” helps you discover Siri capabilities in iOS and apps just by asking (iPhone XS, iPhone XS Max, iPhone XR and later)</li>
                            <li>Call hang up option for ending Phone and FaceTime calls with Siri by saying “Hey Siri, hang up.” (iPhone XS, iPhone XS Max, iPhone XR and later)</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Dictation
                            <li>All-new Dictation experience supports using your voice and keyboard together to enter and edit text (iPhone XS, iPhone XS Max, iPhone XR and later)</li>
                            <li>Automatic punctuation inserts commas, periods, and question marks as you dictate</li>
                            <li>Emoji support lets you insert emoji using your voice (iPhone XS, iPhone XS Max, iPhone XR and later)</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Maps
                            <li>Multi-stop routing supports adding up to fifteen stops along your driving route in Maps</li>
                            <li>Transit cards in Maps let you see low balances and replenish your card when you add transit cards to Wallet, all without leaving Maps</li>
                            <li>Transit fares show you how much your journey will cost in the San Francisco Bay Area, London, New York, and San Diego</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Apple Pay and Wallet
                            <li>Apple Pay Order Tracking allows you to receive detailed receipt and order tracking information in Wallet for Apple Pay purchases with participating merchants</li>
                            <li>ID cards in Wallet lets you share verified information with apps that require identity verification (iPhone 8 and later)</li>
                            <li>Apple Account supports topping-up your account balance from your Apple Account card in Wallet</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Home
                            <li>Redesigned Home app makes it easier to navigate, organize, view, and control your smart home accessories</li>
                            <li>Home tab now integrates all your accessories, rooms, and scenes into a single tab for a whole-house view, allowing you to see your entire home at a glance</li>
                            <li>Categories for lights, climate, security, speakers and TVs, and water let you quickly access all the relevant accessories organized by room, and displays more detailed status information</li>
                            <li>New camera view displays up to four cameras front and center in the Home tab, scroll to see any additional camera views in your home</li>
                            <li>Redesigned accessory tiles feature more visually recognizable icons that are color-matched to their category, and new behaviors for more precise accessory controls</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Health
                            <li>Medications feature helps you track and manage your medications, vitamins and supplements by creating a list, custom schedules and reminders, and then viewing logging over time</li>
                            <li>Add medications using your iPhone camera (iPhone XS, iPhone XR and later)</li>
                            <li>Interaction alerts inform you if there is a critical interaction when you add a new medication</li>
                            <li>Cycle deviation notifications alert you if your logged menstrual cycles show a pattern of infrequent periods, irregular periods, prolonged periods, or persistent spotting</li>
                            <li>Invitations for Health Sharing allow loved ones to easily and securely share their health data with you</li>
                            <li>Health Sharing reminders give you transparency and control over the health data you are sharing with loved ones</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            News
                            <li>My Sports enables you to easily follow your favorite teams and leagues and watch highlights right in the News app</li>
                            <li>Favorites give you easy access to the channels and topics you read the most, in a consistent place near the top of your Today feed</li>
                            <li>New homepages deliver visually updated and easier to navigate topic feeds for local news locales, sports teams and leagues, and more</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Family Sharing
                            <li>Improved child account setup makes it easier to create an account for a child with the right parental controls, including age‑appropriate media restrictions</li>
                            <li>Device setup for a child lets you use Quick Start to easily set up a new iOS or iPadOS device for your child with your selected parental controls in place</li>
                            <li>Screen Time requests in Messages make it even easier to approve or decline requests from your child</li>
                            <li>Family Checklist gives you tips and suggestions like updating a child’s parental control settings, turning on location sharing, or just reminding you to share your iCloud+ subscription with everyone</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Safety Check
                            <li>Safety Check is a new section in Settings to help people in domestic or intimate partner violence situations quickly reset the access they’ve granted to others</li>
                            <li>Emergency reset lets you quickly take action to reset access across all people and apps, including disabling location sharing via Find My, resetting privacy permissions for apps, and more</li>
                            <li>Manage sharing and access helps you review and customize which apps and people can access your information</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            Accessibility
                            <li>Door detection in Magnifier locates a door, reads signs and symbols around it, and gives you instructions for how to open the door (iPhone 12 Pro and iPhone 13 Pro)</li>
                            <li>Apple Watch mirroring provides full control of Apple Watch from iPhone and supports use of Switch Control, Voice Control, or any other assistive features on iPhone to get the most out of your Apple Watch</li>
                            <li>Live Captions (beta) automatically converts audio into text for users who are Deaf or hard of hearing to follow along more easily with calls and media content (iPhone 11 and later)</li>
                            <li>Buddy controller helps users with cognitive disabilities get support from a caregiver or friend while playing a game, by combining inputs from multiple game controllers into one</li>
                            <li>VoiceOver is now available in over 20 new languages and locales, including Bangla (India), Bulgarian, Catalan, Ukrainian, and Vietnamese</li>
                            <li>Voice Control spelling mode gives you the option to dictate names, addresses, or other custom spellings letter by letter</li>
                        </ul>
                        <ul class="text-white-50 fw-bold">
                            This release also includes other features and improvements:
                            <li>Fitness app lets you track and meet your fitness goals even if you don’t yet have an Apple Watch, using iPhone motion sensors to give you an estimate of your calories to contribute to your daily Move goal</li>
                            <li>AirPods Pro (2nd generation) support</li>
                            <li>Personalized Spatial Audio uses the TrueDepth camera on iPhone to create a personal profile for Spatial Audio that delivers a more precise and immersive listening experience on AirPods (3rd generation), AirPods Pro (1st and 2nd generation), AirPods Max</li>
                            <li>Handoff in FaceTime allows you to move FaceTime calls seamlessly from your iPhone to your iPad or Mac, and vice versa</li>
                            <li>Memoji updates include more sticker poses, hairstyles, headwear, noses, and lip colors</li>
                            <li>Quick Note adds support for taking a note in any app on your iPhone and adding links to create context and easily find content</li>
                            <li>Translate camera lets you translate text around you using the camera in the Translate app
                            </li>
                            <li>Duplicate detection in Photos identifies duplicate photos so you can quickly clean up your library</li>
                            <li>Foreground blur for portrait photos in Camera blurs objects in the foreground for a more realistic-looking depth-of-field effect (iPhone 13, iPhone 13 Pro, and iPhone 13 Pro Max)</li>
                            <li>Pinned lists in Reminders helps you quickly navigate to your favorite lists</li>
                            <li>Search on the Home Screen enables Spotlight to be accessed directly from the bottom of the Home Screen, making it easy to open apps, find contacts, or get information from the web</li>
                            <li>Automatically send messages in CarPlay to skip the confirmation step when sending messages</li>
                            <li>Rapid Security Response gets important security improvements to your devices even faster, as they can be applied automatically between standard software updates</li>
                        </ul>
                        <p class="text-white-50 fw-bold">This release includes even more features and improvements. For more information, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://www.apple.com/ios/ios-16</a>

                        <p class="text-white-50 fw-bold">Some features may not be available for all regions or on all iPhone models. For information on the security content of Apple software updates, please visit this website:</p>
                        <a href="https://support.apple.com/HT201222" class="fw-bold">https://support.apple.com/HT201222</a>
                    </div>
                </section>
            </main>
            <%- include('footer') %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>