<style>
        .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
</style>
<header>

    <nav class="navbar navbar-expand-lg">
        <div class="container container-fluid">
            <a href="#" class="navbar-brand text-white fs-1">
                Apple<span class="text-danger fs-1">About</span> 
            </a>
            <button class="navbar-toggler border-white text-white bg-transparent" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-li nav-item"><a href="/" class="nav-link text-white"><i class="fa-solid fa-home"></i> Home</a></li>
                    <li class="nav-li nav-item"><a href="/about" class="nav-link text-white"><i class="fa-solid fa-person"></i> About</a></li>
                    <li class="nav-li nav-item"><a href="/contact" class="nav-link text-white"><i class="fa-solid fa-phone"></i> Contacts</a></li>
                    <li class="nav-li nav-item"><a href="/sort?type=macbook" class="nav-link text-white">Macbooks</a></li>
                    <li class="nav-li nav-item"><a href="/sort?type=iphone" class="nav-link text-white"> Iphones</a></li>
                    <li class="nav-li nav-item"><a href="/sort?type=mac" class="nav-link text-white">Mac</a></li>
                    <li class="nav-li nav-item">
                        <a href="/ios16" class="nav-link text-white">
                            About iOS16
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </nav>
</header>